.principal{
	
	/*background-color: #49EAF2;*/
}

.header{
	/*background-color: #848484;*/
}

.contenido{
	
	/*background-color: #0E8704;*/
}

.publicidad{
	
	/*background-color: #CC1717;*/
}

.page-footer{
	height: 60px;
	background-color: #313131;
	color: #FFFFFF;
}

.tarjetas{
	/*background-color: #F37305;*/
}

.hijo{
	display: inline-block;
}

.tarjetas1 .tarjetas2{
	text-align: center;
}